---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="md:flex justify-between items-center py-16 md:py-28">
    <div class="md:order-last relative w-40 md:w-60 h-40 md:h-60 mb-8 md:mb-0">
      <img
        src="me.jpg"
        alt="Portrait of Rizqy Hidayat"
        class="h-40 md:h-60 object-cover rounded-full relative z-20"
      />
      <div
        class="w-60 h-60 rounded-full absolute -top-20 -left-20 z-0 bg-emerald-50 blur-3xl"
      >
      </div>
      <div
        class="w-40 h-40 rounded-full absolute -bottom-20 -right-20 z-0 bg-sky-50 blur-3xl"
      >
      </div>
    </div>

    <div>
      <h1
        class="mb-4 text-5xl md:text-6xl font-mono font-bold tracking-tighter md:leading-snug"
      >
        Hello,<br />I'm Rizqy Hidayat
      </h1>
      <h2 class="mb-8 text-2xl">
        Web Engineer + casual gamer + adventure seeker.
      </h2>
    </div>
  </div>

  <p class="md:w-3/4 mb-8 text-xl leading-relaxed content">
    I believe writing code is a work of art. I spoke mainly PHP, but enjoying
    frontend crafts as well. Most of my works are dealing with WordPress and
    Laravel ecosystems. Currently, I spent at <a
      href="https://www.dicoding.com"
      target="_blank">Dicoding</a
    >
    as <span title="re: tech lead">engineers partner</span>.
  </p>
</BaseLayout>
