---
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <PageHeader title="Works" />
  [wip]
  <ul>
    <li>Minimalizine</li>
    <li>Padhang</li>
    <li>Gifood</li>
    <li>Bagiipiring</li>
    <li>SadarKawasan</li>
  </ul>
</BaseLayout>
