---
import BaseLayout from "../layouts/BaseLayout.astro";
import dayjs from "dayjs";
import rssToJson from "../lib/rssToJson";
import PageHeader from "../components/PageHeader.astro";
import { getCollection } from "astro:content";

type blogPost = {
  title: string;
  link: string;
  date: number;
  source: "local" | "medium";
};

const MEDIUM_FEED_URL = "https://medium.com/feed/@rizqyhi";

const mediumPosts = (
  await rssToJson(MEDIUM_FEED_URL, {
    headers: { "User-Agent": "rizqy.me site crawler" },
  })
)?.items.map(
  (item): blogPost => ({
    link: item.link,
    date: item.published,
    title: item.title,
    source: "medium",
  }),
);
const writings = (await getCollection("writings")).map(
  (writing): blogPost => ({
    link: writing.id,
    date: writing.data.date.valueOf(),
    title: writing.data.title,
    source: "local",
  }),
);
const posts = [...(mediumPosts || []), ...writings].sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf(),
);
const yearlyPosts: { year: number; items: blogPost[] }[] = [];

posts.forEach((post) => {
  const postYear = dayjs(post.date).year();
  const yearIndex = yearlyPosts.findIndex((x) => x.year === postYear);

  if (yearIndex === -1) {
    return yearlyPosts.push({ year: postYear, items: [post] });
  }

  return yearlyPosts[yearIndex].items.push(post);
});

function formatDate(date: number | string) {
  return dayjs(date).format("MMM D");
}
---

<BaseLayout>
  <PageHeader title="Writings" />

  <div>
    <ul class="grid grid-rows-1 gap-3">
      {
        yearlyPosts.map((yearlyPost) => (
          <>
            <li class="pt-4 font-bold font-mono text-lg">{yearlyPost.year}</li>
            {yearlyPost.items.map((post) => (
              <li>
                <a
                  href={post.link}
                  target={post.source === "medium" ? "_blank" : "_self"}
                  class="text-lg border-0"
                >
                  {post.title}
                </a>
                <span class="mx-2 text-slate-600">
                  {post.source === "medium" ? "(Medium)" : ""} &mdash;
                </span>
                <span class="text-slate-600">{formatDate(post.date)}</span>
              </li>
            ))}
          </>
        ))
      }
    </ul>
  </div>
</BaseLayout>
