<footer class="sm:flex sm:justify-between pt-16 pb-6">
  <div class="mb-4 sm:mb-0">
    <a href="https://github.com/rizqyhi" target="_blank" class="mr-4 sm:mx-2"
      >GitHub</a
    >
    <a href="https://twitter.com/rizqyhi" target="_blank" class="mr-4 sm:mx-2"
      >Twitter/X</a
    >
    <a
      href="https://linkedin.com/in/rizqyhidayat"
      target="_blank"
      class="mr-4 sm:mx-2 sm:mr-0">LinkedIn</a
    >
  </div>
  <div class="sm:order-first">
    &copy; {new Date().getFullYear()} Rizqy Hidayat
  </div>
</footer>
