---
const { title } = Astro.props;
---

<header class="my-20">
  <div>
    <h1 class="mb-4 font-mono text-5xl font-bold tracking-tighter leading-snug">
      <span
        class="text-emerald-500/40 lg:-ml-10 w-10 inline-block tracking-[-1em]"
        >//</span
      >{title}
    </h1>
  </div>
</header>
