---
const { title } = Astro.props;
---

<header class="my-20">
  <div>
    <h1 class="mb-4 font-mono text-5xl font-bold tracking-tighter leading-snug">
      <span class="text-emerald-500/40 mr-2">//</span>{title}
    </h1>
  </div>
</header>
